<section>
  <div class="mb-4">
    <h4>PURCHASE</h4>
    <a href="{{toPurchase}}" class="btn btn-primary">Purchase your carrito</a>
  </div>
  <nav class="d-flex">
    <div class="infoContainer">
      <div class="linksContainer">
        <h5>Comienza Aqui</h5>
        <a href="{{toLogin}}" class="btn btn-secondary">Login</a>
        <a href="{{toRegister}}" class="btn btn-secondary">Register</a>
      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <h6>Users:</h6>
        <a href="{{toProducts}}" class="btn btn-secondary">Ver Productos</a>
        <a href="{{toChat}}" class="btn btn-secondary">Ver Chat</a>
        <a href="{{toProfile}}" class="btn btn-secondary">Ver perfil DTO seguro</a>
        <a href="{{toCarts}}" class="btn btn-secondary">Ver Carritos</a>
        <h6>Admin:</h6>
        <a href="{{toCurrent}}" class="btn btn-secondary">Ver session actual</a>
        <a href="{{toAdmin}}" class="btn btn-secondary">Panel Administrador</a>
      </div>
    </div>
  </nav>
</section>